:root {
    --primary-color: #19539b; 
    --second-color: #fff; 
    --third-color: #5cfa077c;
    --fourth-color: #00000046; 
    --highlight-color: #f9a825;
    --bg-light: #f1f1f1; 
    --bg-dark: #3b5998;
}

main {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-light);
    padding: 20px 0;
}

#services {
    background-color: var(--bg-light);
    padding: 60px 20px;
}

#services h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
    color: var(--primary-color);
}

#services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 0 0 6px;
}

.service h3 {
    text-align: center;
    margin: 15px;
}

.service img {
    width: 250px;
    height: auto;
    margin: 10px auto;
    border-radius: 10px;
    cursor: pointer;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px); 
    }
    100% {
        transform: translateY(0);
    }
}

.service img:hover {
    transform: scale(4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

.service p {
    padding: 20px 30px;
}

/* MEDIA QUERIES */
@media (max-width: 650px) {
    #services-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .service {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px;
        border-radius: 7px;
        box-shadow: 0 0 6px;
    }
    
    .service img {
        width: 250px;
        height: auto;
        margin: 10px auto;
        border-radius: 10px;
        cursor: pointer;
        
    }
    
}